{{#presenter-container class="layout-column flex" as |container|}}
  {{#container.header}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true onClick=(action "goBack")}}
        {{paper-icon "arrow_back"}}
      {{/paper-button}}
      <h2 class="flex">S8-C recommender engine</h2>
      <span>4/4</span>
      {{application-menu}}
      {{#paper-button iconButton=true onClick=(action "finishSetup")}}
        {{paper-icon "done"}}
      {{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/container.header}}

  {{#container.content class="min-width-70 layout-column flex" as |card|}}
    {{#card.content class="flex layout-column layout-gt-xs-row card-content"}}

      <div class="md-padding flex flex-xs-40" style="text-align:center;position: relative;background: #EEE;">
        <img src="/dynamic-consent/assets/images/sightsee_4.jpg" class="layout-fill" style="width:100%;height:100%; position: absolute;top:0;left:0;"/>
      </div>

      <div class="flex layout-column margin-auto">
        <div class="md-padding"><b>Your configuration is now complete.</b></div>

        <div class="md-padding">
          You may click the {{#paper-button iconButton=true onClick=(action "finishSetup")}}
          {{paper-icon "done"}}
        {{/paper-button}} button to proceed to the map view, where recommendations will start appearing.
        </div>

        <div class="md-padding">Please enjoy the recommendations!</div>
      </div>
    {{/card.content}}
  {{/container.content}}

{{/presenter-container}}

{{paper-toaster}}