{{#presenter-container class="layout-column flex" as |container|}}
  {{#container.header}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true onClick=(action "goBack")}}
        {{paper-icon "arrow_back"}}
      {{/paper-button}}
      <h2 class="flex">S8-C recommender engine</h2>
      <span>3/4</span>
      {{application-menu}}
      {{#paper-button iconButton=true onClick=(action "proceed")}}
        {{paper-icon "arrow_forward"}}
      {{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/container.header}}

  {{#container.content class="min-width-70 layout-column flex" as |card|}}
    {{#card.content class="flex layout-column card-content"}}
      <div class="layout-column margin-auto">
        <span class="md-padding">
          Thanks to the location data we collect, we can try to understand your interests and provide you with new categories based on the locations you have visited.
        </span>
        <span class="md-padding">
          Please select whether you want us to notify you when we discover a category you might be interested in and if you do, what their default behavior should be.
        </span>

        {{#paper-radio-group
                class="layout-column"
                groupValue=(readonly notificationMode)
                onChange=(action (mut notificationMode)) as |group|}}
          {{#each notificationModes as |mode|}}
            {{#group.radio value=mode primary=true}}
              <b>{{mode.label}}</b>
              <p>{{mode.description}}</p>
            {{/group.radio}}
          {{/each}}
        {{/paper-radio-group}}
      </div>

    {{/card.content}}
  {{/container.content}}

{{/presenter-container}}

{{#if (eq notificationMode.id "manual")}}
  {{#paper-toast duration=false swipeToClose=true position="top right" class="banner" as |toast|}}
    <div class="layout-column">
      {{#toast.text class="md-margin layout-row"}}
        We think you might like this category: Museums
      {{/toast.text}}
      <div class="layout-row md-margin">
        {{#paper-button raised=true primary=true onClick=(action "showDialog" "This category would be added to your profile.")}}Yes{{/paper-button}}
        {{#paper-button raised=true primary=true onClick=(action "showDialog" "This category would not be added to your profile.")}}No{{/paper-button}}
        {{#paper-button raised=true primary=true onClick=(action "showDialog" "You would be taken to the dashboard, where more information can be found.")}}More{{/paper-button}}
      </div>
    </div>
  {{/paper-toast}}

{{else if (eq notificationMode.id "automatic")}}
  {{#paper-toast duration=false swipeToClose=true position="top right" class="banner" as |toast|}}
    <div class="layout-column">
      {{#toast.text class="md-margin layout-row"}}
        This category will be added to your profile: Museums
      {{/toast.text}}
      <div class="layout-row md-margin">
        {{#paper-button raised=true primary=true onClick=(action "showDialog" "This category would not be added to your profile.")}}Undo{{/paper-button}}
        {{#paper-button raised=true primary=true title="See more info on the dashboard" onClick=(action "showDialog" "You would be taken to the dashboard, where more information can be found.")}}More{{/paper-button}}
      </div>
    </div>
  {{/paper-toast}}
{{/if}}

{{#if (and showDialog (not-eq notificationMode.id "disabled"))}}
  {{#paper-dialog class="flex-77" onClose=(action (mut showDialog) false) clickOutsideToClose=true}}
    {{#paper-dialog-content}}
      <p>
        {{dialogText}}
      </p>
    {{/paper-dialog-content}}
  {{/paper-dialog}}
{{/if}}


{{paper-toaster}}