{{#presenter-container class="flex layout-column" as |container|}}
  {{#container.header}}
    {{#paper-toolbar-tools}}
      {{paper-button iconButton=true class="hidden"}}
      <h2>S8-C recommender engine</h2>
    {{/paper-toolbar-tools}}
  {{/container.header}}

  {{#container.content class="flex layout-column min-width-70" as |card|}}
    {{#paper-form class="flex layout-column" onSubmit=(action "login") as |form|}}
      {{#card.content class="flex layout-column layout-gt-xs-row card-content"}}

        <div class="md-padding margin-auto flex-gt-xs show-gt-xs {{if showLogo "show-xs" "hide-xs"}}" style="text-align:center;">
          <img src="/dynamic-consent/assets/images/special_logo_alpha.png" style="max-height:70VH;max-width: 70VW;"/>
        </div>


        <div class="flex md-padding flex-gt-sm layout-column margin-auto">
          {{form.input onFocus=(action (mut showLogo) false) onBlur=(action (mut showLogo) true) class="md-margin margin-top-auto" inputElementId="username" label="Username" value=username onChange=(action (mut username)) required=true passThru=(hash autocomplete="username")}}
          {{form.input onFocus=(action (mut showLogo) false) onBlur=(action (mut showLogo) true) class="md-margin margin-bottom-auto" inputElementId="password" label="Password" value=password onChange=(action (mut password)) required=true type="password" passThru=(hash autocomplete="current-password")}}
          {{#form.submit-button raised=true primary=true elementId="login"}}Log in{{/form.submit-button}}
        </div>

      {{/card.content}}

    {{/paper-form}}
  {{/container.content}}

{{/presenter-container}}

{{paper-toaster}}
