{{#presenter-container class="layout-column flex" as |container|}}
  {{#container.header}}
    {{#paper-toolbar-tools}}
      {{paper-button iconButton=true class="hidden"}}
      <h2>S8-C</h2>
    {{/paper-toolbar-tools}}
  {{/container.header}}

  {{#container.content class="min-width-80 layout-column flex" as |card|}}
    {{#paper-form class="layout-column flex" onSubmit=(action "login") as |form|}}
      {{#card.content class="flex layout-column card-content"}}
        {{form.input inputElementId="username" label="Username" value=username onChange=(action (mut username)) required=true passThru=(hash autocomplete="username")}}
        {{form.input inputElementId="password" label="Password" value=password onChange=(action (mut password)) required=true type="password" passThru=(hash autocomplete="current-password")}}
      {{/card.content}}

      {{paper-divider}}
      {{#card.actions class="layout-row"}}
        {{#form.submit-button raised=true primary=true elementId="login" class="flex"}}Log in{{/form.submit-button}}
      {{/card.actions}}
    {{/paper-form}}
  {{/container.content}}

{{/presenter-container}}

{{paper-toaster}}
