{{#presenter-container class="layout-column flex" as |container|}}
  {{#container.header}}
    {{#paper-toolbar-tools}}
      {{paper-button iconButton=true class="hidden"}}
      <h2 class="flex">S8-C recommender engine</h2>
      {{application-menu}}
      {{#paper-button iconButton=true onClick=(action (mut showCategories) true)}}
        {{paper-icon "keyboard_arrow_left"}}
      {{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/container.header}}


  {{#paper-sidenav-container class="flex layout-row"}}

    {{#paper-sidenav
            open=showCategories
            position="right"
            lockedOpen=false}}
      {{#paper-toolbar as |toolbar|}}
        {{#paper-toolbar-tools}}
          <div class="flex"/>
          {{#paper-button iconButton=true onClick=(action (mut showCategories) false)}}
            {{paper-icon "keyboard_arrow_right"}}
          {{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#paper-content padding=true}}
        {{#paper-list class="layout-column"}}
          {{#paper-subheader}}Categories{{/paper-subheader}}
          {{#each categories as |category index|}}
            {{#if (not-eq index 0)}}
              {{paper-divider}}
            {{/if}}
            {{#paper-checkbox primary=true class="md-padding" value=category.selected onChange=(action (mut category.selected) (not category.selected))}}
              <img title={{category.name}} height="20" width="20" src={{category.icon}} alt={{category.name}}/>
              -
              {{category.name}}
            {{/paper-checkbox}}
          {{/each}}
        {{/paper-list}}
      {{/paper-content}}
    {{/paper-sidenav}}

    {{#container.content class="flex layout-column" as |card|}}
      {{#card.content class="flex card-content"}}
        <LeafletMap
          @lat={{mapLatitude}}
          @lng={{mapLongitude}}
          @zoom={{zoom}}
          @onLoad={{action "onLoad"}}
          @onMove={{action "onMove"}}
          @onMoveend={{action "onMoveEnd"}}
          @onZoomend={{action "onZoomEnd"}}
          @class={{"layout-fill"}} as |layers|
        >

          <div class="map-actions layout-column">
            {{#if (not showLocationPicker)}}
              {{#paper-button iconButton=true primary=true title="Move to current location" onClick=(action (mut hasLocationBeenSelected) false)}}
                {{paper-icon "my_location"}}
              {{/paper-button}}
            {{/if}}

            {{#if (not isMapZoomedEnough)}}
              {{#paper-button iconButton=true warn=true title="Please zoom in closer so we can fetch recommendations" onClick=(action "onZoomToMinimalLevel")}}
                {{paper-icon "explore_off"}}
              {{/paper-button}}
            {{/if}}

            {{#if isFetchingLocations}}
              {{#paper-button iconButton=true title="Fetching recommendations"}}
                {{paper-progress-circular class="md-hue-2" diameter=25}}
              {{/paper-button}}
            {{/if}}
          </div>

          <layers.tile @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"/>

          {{#if (and latitude longitude)}}
            <layers.marker
              @lat={{latitude}}
              @lng={{longitude}}
              @icon={{icon
                    iconSize=(array 40 40)
                    iconAnchor=(array 20 40)
                    popupAnchor=(array 0 -40)
                    iconUrl="/assets/images/red.svg"}}
              as |marker|>
              <marker.popup>
                <h3>This is your current location.</h3>
              </marker.popup>
            </layers.marker>
          {{/if}}

          <layers.marker-cluster as |cluster|>
            {{#each locations as |location|}}
              <cluster.marker
                @icon={{icon
                      iconSize=(array 20 20)
                      iconAnchor=(array 10 20)
                      popupAnchor=(array 0 -20)
                      iconUrl=location.firstSelectedCategory.icon}}
                @location={{array location.latitude location.longitude}} as |marker|>
                <marker.popup
                  @autoPan={{true}}
                  @keepInView={{true}}
                  @onAdd={{action "onPopupToggle" true}}
                  @onRemove={{action "onPopupToggle" false}}
                >
                  <h3>{{location.name}}</h3>
                  <div class="layout-row">
                    {{#each location.categories as |category index|}}
                      <img class="md-margin" title={{category.name}} height="20" width="20" src={{category.icon}} alt={{category.name}}/>
                    {{/each}}
                  </div>
                </marker.popup>
              </cluster.marker>
            {{/each}}
          </layers.marker-cluster>

        </LeafletMap>

      {{/card.content}}

    {{/container.content}}
  {{/paper-sidenav-container}}
{{/presenter-container}}


{{#if showLocationPicker}}
  {{#paper-toast duration=false position="top right" class="banner" as |toast|}}
    <div class="layout-column">
      {{#toast.text class="md-margin"}}
        Should we use your current location or do you want to browse the map freely?
      {{/toast.text}}
      <div class="layout-row md-margin">
        {{#paper-button raised=true primary=true onClick=(action "useLocation" currentLocation) disabled=isFetchingCurrentLocation}}Use my location{{/paper-button}}
        {{#paper-button raised=true primary=true onClick=(action (mut showDemo) true)}}Demo{{/paper-button}}
        {{#paper-button raised=true primary=true onClick=(action "useLocation" false)}}Browse{{/paper-button}}
      </div>
    </div>
  {{/paper-toast}}
{{/if}}

{{#if (and showLocationPicker showDemo)}}
  {{#paper-dialog class="flex-77" onClose=(action (mut showDemo) false) clickOutsideToClose=true}}
    {{#paper-dialog-content}}
      <p>
        Please select your current location.
      </p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-column"}}
      {{#each demoLocations as |location|}}
        {{#paper-button onClick=(action "useLocation" location)}}{{location.title}}{{/paper-button}}
      {{/each}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}

{{paper-toaster}}