{{position-watcher setOriginalPosition=(action "setOriginalPosition") onPositionChanged=(action "onPositionChanged")}}

{{#presenter-container class="layout-column flex" as |container|}}
  {{#container.header}}
    {{#paper-toolbar-tools}}
      {{paper-button iconButton=true class="hidden"}}
      <h2>S8-C recommender engine</h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action (mut showCategories) true)}}
        {{paper-icon "keyboard_arrow_left"}}
      {{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/container.header}}


  {{#paper-sidenav-container class="flex layout-row"}}

    {{#paper-sidenav
            open=showCategories
            position="right"
            lockedOpen=false}}
      {{#paper-toolbar as |toolbar|}}
        {{#paper-toolbar-tools}}
          <div class="flex"/>
          {{#paper-button iconButton=true onClick=(action (mut showCategories) false)}}
            {{paper-icon "keyboard_arrow_right"}}
          {{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#paper-content padding=true}}
        {{#paper-list class="layout-column"}}
          {{#paper-subheader}}Categories{{/paper-subheader}}
          {{#each categories as |category index|}}
            {{#if (not-eq index 0)}}
              {{paper-divider}}
            {{/if}}
            {{#paper-checkbox primary=true class="md-padding" value=category.selected onChange=(action (mut category.selected) (not category.selected))}}
              {{category.name}}
            {{/paper-checkbox}}
          {{/each}}
        {{/paper-list}}
      {{/paper-content}}
    {{/paper-sidenav}}

    {{#container.content class="flex layout-column" as |card|}}
      {{#card.content class="flex card-content"}}
        {{#if hasOriginalPositionBeenSet}}
          <LeafletMap @lat={{lat}} @lng={{lng}} @zoom={{zoom}} @class={{"layout-fill"}} as |layers|>
            <layers.tile @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"/>

            <layers.marker
              @lat={{dataSubjectLat}}
              @lng={{dataSubjectLng}}
              @draggable={{true}}
              @onDragend={{action "updateLocation" r}}
              @icon={{icon
                    iconSize=(array 40 40)
                    iconAnchor=(array 20 40)
                    popupAnchor=(array 0 -40)
                    iconUrl="/assets/images/red.svg"}}
              as |marker|>
              <marker.popup>
                <h3>This is your current location.</h3>
              </marker.popup>
            </layers.marker>

            <layers.marker-cluster as |cluster|>
              {{#each locations as |location|}}
                <cluster.marker
                  @icon={{icon
                        iconSize=(array 40 40)
                        iconAnchor=(array 20 40)
                        popupAnchor=(array 0 -40)
                        iconUrl=(if location.preferred "/assets/images/black-filled.svg" "/assets/images/black-empty.svg")}}
                  @location={{array location.latitude location.longitude}} as |marker|>
                  <marker.popup>
                    <h3>{{location.name}}</h3>
                    <span>{{location.description}}</span>
                  </marker.popup>
                </cluster.marker>
              {{/each}}
            </layers.marker-cluster>

          </LeafletMap>
        {{else}}
          <LeafletMap @lat={{0}} @lng={{0}} @zoom={{zoom}} @class={{"layout-fill"}} as |layers|>
            <layers.tile @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"/>

          </LeafletMap>
        {{/if}}
      {{/card.content}}

      {{paper-divider}}
      {{#card.actions}}
        {{#paper-button raised=true primary=true class="flex"}}Privacy policy{{/paper-button}}
        {{#paper-button raised=true primary=true class="flex"}}Dashboard{{/paper-button}}
      {{/card.actions}}


    {{/container.content}}

  {{/paper-sidenav-container}}

{{/presenter-container}}

